<h2>Authors!</h2>

<ul>
  <% @authors.each do |author| %>
    <li>
      <%= author.name %>
      First published: <%= author.first_published %>
      <%= link_to "View books", author_books_path(author) %>
      <%= link_to "Add book", new_author_book_path(author) %>
    </li>
  <% end %>
</ul>
