<h2>In the books index!!!</h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <strong><%= book[:title] %></strong>
      by: <em><%= book[:author] %></em>
      <%# This is a comment %>
    </li>
  <% end %>
</ul>
