<h1>Add a Book</h1>


<form action="/books" method="post" accept-charset="utf-8">
  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <div>
    <label for="title">Book Title</label>
    <input type="text" name="titlefasdf" placeholder="ex: Catcher in the Rye" id="title">
  </div>

  <div>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
  </div>


  <input type="submit" value="Add Book">
</form>
