<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to Dan and Jamie's Library!</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2017
    </footer>
  </body>
</html>
